/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
body .works {
  font-size: 10px;
  color: black;
  font-family: "Montserrat", sans-serif;
}
body .works > a > p {
  position: absolute;
  font-size: 7em;
  top: -50vh;
  left: -40vw;
  cursor: pointer;
  color: black;
}
body .works img {
  position: absolute;
  width: 40vw;
  top: -70vh;
}
body .body-contents {
  font-size: 10px;
  color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -60vh;
  left: -40vw;
}
body .body-contents > p {
  font-size: 7em;
}
body .contact-img {
  position: absolute;
  top: -70vh;
  left: 10vh;
}
body .cv-img {
  position: absolute;
  top: -85vh;
  left: -40vw;
}
body .cv-img img {
  width: 30vw;
}
body .cv-img p:nth-child(2) {
  font-size: 10px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 30vh;
  text-shadow: 3px 0 5px grey;
}
body .cv-img p:nth-child(3) {
  font-size: 100px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 52vh;
  text-shadow: 3px 0 5px grey;
}
body .cv-bfbox {
  position: absolute;
  top: -70vh;
  left: 10vh;
  z-index: -5;
}
body .cv-box {
  font-size: 100px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
  position: absolute;
  top: 0;
  left: -45vw;
}
body .cv-box p {
  font-size: 24px;
  width: 50vw;
}
body .cv-box p span {
  font-size: 28px;
  font-weight: 700;
}
body .cv-contents {
  font-size: 100px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
  position: absolute;
  top: 0;
  left: 5vh;
}
body .cv-contents p {
  font-size: 18px;
  width: 40vw;
  padding-bottom: 10vh;
}
body .star-box {
  position: absolute;
  top: -70vh;
  left: -40vw;
  display: flex;
}
body .star-box p {
  font-size: 100px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.8em;
}
body .character-box {
  position: absolute;
  top: -70vh;
}
body .character-box :nth-child(2) {
  position: absolute;
  left: -50vw;
}
body .character-box :nth-child(3) {
  width: 110%;
}
body .illu-box {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 80vh;
  left: -50vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
body .illu-box > h2 {
  font-size: 10px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  margin-bottom: 2em;
}
body .illu-box .illu-img {
  display: flex;
  flex-wrap: wrap;
}
body .illu-box .illu-img > img {
  aspect-ratio: auto;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.3);
  margin-right: 3em;
  width: 30%;
  margin-bottom: 1em;
}
body .illu-box .illu-img :nth-child(2) {
  width: 45%;
}
body .illu-box .illu-img :nth-child(3) {
  width: 30%;
  height: 40%;
}/*# sourceMappingURL=secondstyle.css.map */