/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 0;
  height: 0;
  border-top: 100vh solid rgb(205, 205, 205);
  border-left: 100vh solid transparent;
}
body nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}
body nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
  height: 10vh;
}
body nav > ul > li {
  list-style: none;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  position: relative;
}
body nav > ul > li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: rgb(255, 77, 109);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
body nav > ul > li:hover::before {
  width: 100%;
}
body .contents-wrapper {
  border: 3px solid blue;
  position: absolute;
  z-index: 9;
  top: 20vh;
  left: 0;
}
body .contents-wrapper .des {
  border: 3px dotted red;
}
body .contents-wrapper .des > p {
  font-family: "Anta", sans-serif;
  font-weight: 700;
  margin: 0;
  color: black;
  font-size: 5em;
}
body .contents-wrapper .des > p > span {
  font-style: italic;
  font-size: larger;
}
body .contents-wrapper .des > p:nth-child(5) {
  font-size: 6.5em;
}
body .quote-korean {
  position: absolute;
  top: 60%;
  left: 110%;
  width: 100%;
  padding-left: 2em;
  opacity: 0;
  transition: 0.5s;
}
body .quote-korean > p {
  font-size: 100px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  font-weight: 500;
}
body .quote {
  border: 3px dotted orange;
  position: absolute;
  top: 100%;
  left: 110%;
  width: 100%;
  padding-left: 2em;
}
body .quote > p {
  font-size: 10px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
}
body .quote:hover ~ .quote-korean {
  opacity: 100;
}
body .web-ex-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  left: 0;
  position: absolute;
  font-size: 100px;
  color: #fff;
  font-family: "Anta", sans-serif;
  top: 100%;
}
body .web-ex-wrapper .web1 {
  background-color: rgb(255, 77, 109);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
body .web-ex-wrapper .web1 > img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  bottom: -50%;
}
body .web-ex-wrapper .web1:hover img {
  opacity: 100;
  bottom: 0;
}
body .web-ex-wrapper .web2 {
  background-color: rgb(0, 175, 185);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
body .web-ex-wrapper .web2 > img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  bottom: -50%;
}
body .web-ex-wrapper .web2:hover img {
  opacity: 100;
  bottom: 0;
}
body .web-ex-wrapper .web3 {
  background-color: rgb(240, 113, 103);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
body .web-ex-wrapper .web3 > img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  bottom: -50%;
}
body .web-ex-wrapper .web3:hover img {
  opacity: 100;
  bottom: 0;
}
body .landing-wrapper {
  font-size: 100px;
  color: #fff;
  font-family: "Anta", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  left: 0;
  top: 200%;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}
body .landing-wrapper .landing1 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(180, 180, 180), white);
}
body .landing-wrapper .landing2 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(180, 180, 180), white);
  border-left: 1px solid white;
  border-right: 1px solid white;
}
body .landing-wrapper .landing3 {
  background-image: linear-gradient(to bottom, rgb(180, 180, 180), white);
  width: 100%;
  height: 100%;
}
body .banner-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 300%;
  display: flex;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}
body .banner-wrapper .banner-box1 {
  font-size: 10em;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(135, 135, 135), white);
  overflow: hidden;
}
body .banner-wrapper .banner-box1 > p {
  text-align: end;
}
body .banner-wrapper .banner-box1 .banner-imgs-left {
  position: relative;
  height: 100%;
}
body .banner-wrapper .banner-box1 .banner-imgs-left > img {
  width: 900px;
}
body .banner-wrapper .banner-box1 .banner-imgs-left > img:nth-child(1) {
  position: absolute;
  top: 10%;
  right: 70%;
  transition: 0.7s;
}
body .banner-wrapper .banner-box1 .banner-imgs-left > img:nth-child(2) {
  position: absolute;
  top: 30%;
  right: 70%;
  transition: 0.7s;
}
body .banner-wrapper .banner-box1 .banner-imgs-left > img:nth-child(3) {
  position: absolute;
  top: 50%;
  right: 70%;
  transition: 0.7s;
}
body .banner-wrapper .banner-box1 .banner-imgs-left > img:hover {
  right: 0;
  margin-right: 10px;
}
body .banner-wrapper .banner-box2 {
  font-size: 10em;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(135, 135, 135), white);
  overflow: hidden;
}
body .banner-wrapper .banner-box2 .banner-imgs-right {
  position: relative;
  height: 100%;
}
body .banner-wrapper .banner-box2 .banner-imgs-right > img {
  width: 900px;
}
body .banner-wrapper .banner-box2 .banner-imgs-right > img:nth-child(1) {
  float: right;
  position: absolute;
  top: 30%;
  left: 70%;
  transition: 0.7s;
}
body .banner-wrapper .banner-box2 .banner-imgs-right > img:nth-child(2) {
  float: right;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 70%;
  transition: 0.7s;
}
body .banner-wrapper .banner-box2 .banner-imgs-right > img:hover {
  left: 0;
  margin-left: 10px;
}
body .slbanner-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 400%;
  display: flex;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}
body .slbanner-wrapper .banner-box1 {
  font-size: 10em;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(135, 135, 135), white);
  overflow: hidden;
}
body .slbanner-wrapper .banner-box1 > p {
  text-align: end;
}
body .slbanner-wrapper .banner-box1 .sl-left > img {
  transition: 0.5s;
  transform: scale(0.7);
}
body .slbanner-wrapper .banner-box1 .sl-left > img:hover {
  transform: scale(1);
}
body .slbanner-wrapper .banner-box2 {
  font-size: 10em;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(135, 135, 135), white);
  overflow: hidden;
}
body .slbanner-wrapper .banner-box2 .sl-right > img {
  transition: 0.5s;
  transform: scale(0.7);
}
body .slbanner-wrapper .banner-box2 .sl-right > img:hover {
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */