// Variables
$basic-font: 10px;
$basic-color: #fff;
$basic-font-color: black;

//Mixins
@mixin defaultFont {
    font-family: "Anta", sans-serif;
    font-weight: 700;
    margin: 0;
    color: $basic-font-color;
}

@mixin webFont {
    font-size: $basic-font * 10;
    color: $basic-color;
    font-family: "Anta", sans-serif;
}

@mixin webFontNoto {
    font-size: $basic-font * 10;
    color: $basic-font-color;
    font-family: "Noto Sans KR", sans-serif;
}

@mixin webFontRoboto() {
    font-size: $basic-font;
    color: $basic-color;
    font-family: "Roboto", sans-serif;
}

@mixin webFontMont() {
    font-size: $basic-font;
    color: $basic-font-color;
    font-family: "Montserrat", sans-serif;
}

@mixin webFontBebas($fsize, $fcolour) {
    font-size: $fsize;
    color: $fcolour;
    font-family: "Bebas Neue", sans-serif;
}

@mixin heading {
    text-align: center;
    font-weight: normal;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 4px;
        background-color: rgb(255, 77, 109);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
    }
    &:hover {
        &::before {
            width: 100%;
        }
    }
}

/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 0;
    height: 0;
    border-top: 100vh solid rgb(205, 205, 205);
    border-left: 100vh solid transparent;
    .popup-window {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        .popup-con {
            width: 300px;
            height: 400px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            img {
                width: 300px;
                height: 300px;
            }
            .popup-close {
                margin-top: 1em;
                width: 100px;
                height: 40px;
                text-align: center;
                cursor: pointer;
                border-radius: 7px;
                border: none;
            }
        }
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 10vh;
        & > ul {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            background-color: white;
            height: 10vh;
            margin-right: 10vh;
            & > li {
                list-style: none;
                border: 2px solid black;
                padding: 10px;
                margin: 10px;
                font-size: 1.2em;
                font-weight: 700;
                cursor: pointer;
                @include heading();
                text-decoration: none;
                & > a {
                    text-decoration: none;
                    color: $basic-font-color;
                }
            }
        }
    }
    .contents-wrapper {
        position: absolute;
        z-index: 9;
        top: 20vh;
        left: 10vw;
        .des {
            & > p {
                @include defaultFont();
                font-size: 4em;
                & > span {
                    font-style: italic;
                    font-size: larger;
                }
                &:nth-child(5) {
                    font-size: 4.5em;
                }
            }
        }
    }
    .quote-korean {
        position: absolute;
        top: 50%;
        left: 120%;
        width: 100%;
        padding-left: 2em;
        opacity: 0;
        transition: 0.5s;
        & > p {
            @include webFontNoto();
            font-size: $basic-font * 3;
            font-weight: 500;
        }
    }
    .quote {
        position: absolute;
        top: 100%;
        left: 120%;
        width: 100%;
        padding-left: 2em;
        & > p {
            @include webFontMont();
            font-size: $basic-font * 3;
            font-style: italic;
            font-weight: 500;
            cursor: pointer;
        }
    }
    .quote:hover ~ .quote-korean {
        opacity: 100;
    }
    .web-ex-wrapper {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        left: 0;
        position: absolute;
        top: 100%;
        .web1 {
            // background-color: rgb(255, 77, 109);
            background-color: rgb(215, 215, 215);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            color: $basic-font-color;
            & > span {
                @include webFont();
            }
            & > img {
                cursor: pointer;
                position: absolute;
                width: 100%;
                opacity: 0;
                transition: 0.5s;
                bottom: -50%;
            }
            .web-des {
                position: absolute;
                margin-top: 15vh;
                font-size: 17px;
                padding: 2vh;
            }
        }
        .web1:hover img {
            opacity: 100;
            bottom: 0;
        }
        .web2 {
            // background-color: rgb(0, 175, 185);
            background-color: rgb(185, 185, 185);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            & > span {
                @include webFont();
            }
            & > img {
                cursor: pointer;
                position: absolute;
                width: 100%;
                opacity: 0;
                transition: 0.5s;
                bottom: -50%;
            }
            .web-des {
                position: absolute;
                margin-top: 15vh;
                font-size: 18px;
                padding: 2vh;
            }
        }
        .web2:hover img {
            opacity: 100;
            bottom: 0;
        }
        .web3 {
            // background-color: rgb(240, 113, 103);
            background-color: rgb(215, 215, 215);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            color: $basic-font-color;
            & > span {
                @include webFont();
            }
            & > img {
                cursor: pointer;
                position: absolute;
                width: 100%;
                opacity: 0;
                transition: 0.5s;
                bottom: -50%;
            }
            .web-des {
                position: absolute;
                margin-top: 15vh;
                font-size: 18px;
                padding: 2vh;
            }
        }
        .web3:hover img {
            opacity: 100;
            bottom: 0;
        }
    }
    .webdes-wrapper {
        @include webFont();
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: absolute;
        left: 0;
        top: 200%;
        width: 100vw;
        height: 100vh;
        img {
            width: 90%;
            cursor: pointer;
            filter: grayscale(100%);
            filter: blur(80%);
            transition: 0.3s;
            opacity: 80%;
        }
        img:hover {
            filter: grayscale(0);
            filter: blur(0);
            width: 100%;
            opacity: 100%;
        }
        .webdes1 {
            width: 100%;
            height: 100%;
            // background-image: url(../imgs/bg01.png);
            background-image: linear-gradient(
                to top,
                rgb(135, 135, 135),
                white
            );
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $basic-font-color;
            .web-des {
                @include webFontRoboto();
                & > span {
                    font-size: 24px;
                    font-weight: 600;
                    color: $basic-font-color;
                }
                & > p {
                    font-size: 18px;
                    color: $basic-font-color;
                }
            }
        }
        .webdes2 {
            width: 100%;
            height: 100%;
            // background-image: url(../imgs/bg03.png);
            background-image: linear-gradient(
                to bottom,
                rgb(135, 135, 135),
                white
            );
            border-left: 1px solid white;
            border-right: 1px solid white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .web-des {
                @include webFontRoboto();
                // border: 5px dotted blue;
                display: flex;
                flex-direction: column;
                span:first-child {
                    // background-color: red;
                    display: inline-block;
                    text-align: right;
                }
                span:nth-of-type(2) {
                    // background-color: red;
                    text-align: end;
                    display: inline-block;
                }
                p:nth-child(2) {
                    text-align: right;
                }
                p:nth-of-type(2) {
                    text-align: right;
                }
                & > span {
                    font-size: 20px;
                    font-weight: 600;
                    color: $basic-font-color;
                }
                & > p {
                    font-size: 16px;
                    color: $basic-font-color;
                }
            }
        }
        .webdes3 {
            // background-image: url(../imgs/bg02.png);
            background-image: linear-gradient(
                to top,
                rgb(135, 135, 135),
                white
            );
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $basic-font-color;
            .web-des {
                @include webFontRoboto();
            }
        }
    }
    .banner-wrapper {
        display: flex;
        position: absolute;
        left: 0;
        top: 300%;
        display: flex;
        width: 100vw;
        height: 100vh;
        .banner-box1 {
            @include webFontBebas(10em, white);
            width: 100%;
            height: 100%;
            background-color: #bfbfbf;
            overflow: hidden;
            & > p {
                text-align: end;
            }
            .banner-imgs-left {
                position: relative;
                height: 100%;
                & > img {
                    width: 900px;
                }
                & > img:nth-child(1) {
                    position: absolute;
                    top: 10%;
                    right: 70%;
                    transition: 0.7s;
                }
                & > img:nth-child(2) {
                    position: absolute;
                    top: 30%;
                    right: 70%;
                    transition: 0.7s;
                }
                & > img:nth-child(3) {
                    position: absolute;
                    top: 50%;
                    right: 70%;
                    transition: 0.7s;
                }
                & > img:hover {
                    right: 0;
                    // margin-right: 5vw;
                }
            }
        }
        .banner-box2 {
            @include webFontBebas(10em, black);
            width: 100%;
            height: 100%;
            background-color: #dddddd;
            overflow: hidden;
            .banner-imgs-right {
                position: relative;
                height: 100%;
                // bottom: 0;
                // left: 70%;
                & > img {
                    width: 900px;
                }
                & > img:nth-child(1) {
                    float: right;
                    position: absolute;
                    top: 30%;
                    left: 70%;
                    transition: 0.7s;
                }
                & > img:nth-child(2) {
                    float: right;
                    width: 900px;
                    position: absolute;
                    top: 50%;
                    left: 70%;
                    transition: 0.7s;
                }
                & > img:hover {
                    left: 0;
                    // margin-left: 5vw;
                }
            }
        }
    }
    .slbanner-wrapper {
        display: flex;
        position: absolute;
        left: 0;
        top: 400%;
        display: flex;
        width: 100vw;
        height: 100vh;
        .banner-box1 {
            @include webFontBebas(10em, rgb(255, 255, 255));
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: #dddddd;
            & > p {
                text-align: end;
            }
            .sl-left {
                & > img {
                    transition: 0.5s;
                    transform: scale(0.7);
                }
                & > img:hover {
                    transform: scale(1);
                    z-index: 3;
                }
                & > img:nth-child(1) {
                    position: absolute;
                    right: 50%;
                    top: 20%;
                }
                & > img:nth-child(2) {
                    position: absolute;
                    right: 50%;
                    top: 45%;
                }
                & > img:nth-child(3) {
                    position: absolute;
                    right: 50%;
                    top: 70%;
                }
            }
        }

        .banner-box2 {
            @include webFontBebas(10em, black);
            width: 100%;
            height: 100%;
            background-color: #bfbfbf;
            overflow: hidden;
            .sl-right {
                & > img {
                    transition: 0.5s;
                    transform: scale(0.7);
                }
                & > img:hover {
                    transform: scale(1);
                }
                & > img:nth-child(1) {
                    position: absolute;
                    left: 50%;
                    top: 20%;
                }
                & > img:nth-child(2) {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                }
            }
        }
    }
}
