/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 0;
  height: 0;
  border-top: 100vh solid rgb(205, 205, 205);
  border-left: 100vh solid transparent;
}
body .popup-window {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
body .popup-window .popup-con {
  width: 300px;
  height: 400px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
body .popup-window .popup-con img {
  width: 300px;
  height: 300px;
}
body .popup-window .popup-con .popup-close {
  margin-top: 1em;
  width: 100px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 7px;
  border: none;
}
body nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}
body nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
  height: 10vh;
}
body nav > ul > li {
  list-style: none;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  position: relative;
  text-decoration: none;
}
body nav > ul > li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: rgb(255, 77, 109);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
body nav > ul > li:hover::before {
  width: 100%;
}
body nav > ul > li > a {
  text-decoration: none;
  color: black;
}
body .contents-wrapper {
  position: absolute;
  z-index: 9;
  top: 20vh;
  left: 10vw;
}
body .contents-wrapper .des > p {
  font-family: "Anta", sans-serif;
  font-weight: 700;
  margin: 0;
  color: black;
  font-size: 5em;
}
body .contents-wrapper .des > p > span {
  font-style: italic;
  font-size: larger;
}
body .contents-wrapper .des > p:nth-child(5) {
  font-size: 6.5em;
}
body .quote-korean {
  position: absolute;
  top: 60%;
  left: 110%;
  width: 100%;
  padding-left: 2em;
  opacity: 0;
  transition: 0.5s;
}
body .quote-korean > p {
  font-size: 100px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  font-weight: 500;
}
body .quote {
  position: absolute;
  top: 100%;
  left: 110%;
  width: 100%;
  padding-left: 2em;
}
body .quote > p {
  font-size: 10px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
}
body .quote:hover ~ .quote-korean {
  opacity: 100;
}
body .web-ex-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  left: 0;
  position: absolute;
  font-size: 100px;
  color: #fff;
  font-family: "Anta", sans-serif;
  top: 100%;
}
body .web-ex-wrapper .web1 {
  background-color: rgb(255, 77, 109);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
body .web-ex-wrapper .web1 > img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  bottom: -50%;
}
body .web-ex-wrapper .web1:hover img {
  opacity: 100;
  bottom: 0;
}
body .web-ex-wrapper .web2 {
  background-color: rgb(0, 175, 185);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
body .web-ex-wrapper .web2 > img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  bottom: -50%;
}
body .web-ex-wrapper .web2:hover img {
  opacity: 100;
  bottom: 0;
}
body .web-ex-wrapper .web3 {
  background-color: rgb(240, 113, 103);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
body .web-ex-wrapper .web3 > img {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  bottom: -50%;
}
body .web-ex-wrapper .web3:hover img {
  opacity: 100;
  bottom: 0;
}
body .webdes-wrapper {
  font-size: 100px;
  color: #fff;
  font-family: "Anta", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  left: 0;
  top: 200%;
  width: 100vw;
  height: 100vh;
}
body .webdes-wrapper img {
  width: 90%;
  cursor: pointer;
  filter: grayscale(100%);
  filter: blur(80%);
  transition: 0.3s;
  opacity: 80%;
}
body .webdes-wrapper img:hover {
  filter: grayscale(0);
  filter: blur(0);
  width: 100%;
  opacity: 100%;
}
body .webdes-wrapper .webdes1 {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg01.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .webdes-wrapper .webdes2 {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg03.png);
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .webdes-wrapper .webdes3 {
  background-image: url(../imgs/bg02.png);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .banner-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 300%;
  display: flex;
  width: 100vw;
  height: 100vh;
}
body .banner-wrapper .banner-box1 {
  font-size: 10em;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(135, 135, 135), white);
  overflow: hidden;
}
body .banner-wrapper .banner-box1 > p {
  text-align: end;
}
body .banner-wrapper .banner-box1 .banner-imgs-left {
  position: relative;
  height: 100%;
}
body .banner-wrapper .banner-box1 .banner-imgs-left > img {
  width: 900px;
}
body .banner-wrapper .banner-box1 .banner-imgs-left > img:nth-child(1) {
  position: absolute;
  top: 10%;
  right: 70%;
  transition: 0.7s;
}
body .banner-wrapper .banner-box1 .banner-imgs-left > img:nth-child(2) {
  position: absolute;
  top: 30%;
  right: 70%;
  transition: 0.7s;
}
body .banner-wrapper .banner-box1 .banner-imgs-left > img:nth-child(3) {
  position: absolute;
  top: 50%;
  right: 70%;
  transition: 0.7s;
}
body .banner-wrapper .banner-box1 .banner-imgs-left > img:hover {
  right: 0;
  margin-right: 5vw;
}
body .banner-wrapper .banner-box2 {
  font-size: 10em;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(135, 135, 135), white);
  overflow: hidden;
}
body .banner-wrapper .banner-box2 .banner-imgs-right {
  position: relative;
  height: 100%;
}
body .banner-wrapper .banner-box2 .banner-imgs-right > img {
  width: 900px;
}
body .banner-wrapper .banner-box2 .banner-imgs-right > img:nth-child(1) {
  float: right;
  position: absolute;
  top: 30%;
  left: 70%;
  transition: 0.7s;
}
body .banner-wrapper .banner-box2 .banner-imgs-right > img:nth-child(2) {
  float: right;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 70%;
  transition: 0.7s;
}
body .banner-wrapper .banner-box2 .banner-imgs-right > img:hover {
  left: 0;
  margin-left: 5vw;
}
body .slbanner-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 400%;
  display: flex;
  width: 100vw;
  height: 100vh;
}
body .slbanner-wrapper .banner-box1 {
  font-size: 10em;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg06.png);
  overflow: hidden;
}
body .slbanner-wrapper .banner-box1 > p {
  text-align: end;
}
body .slbanner-wrapper .banner-box1 .sl-left > img {
  transition: 0.5s;
  transform: scale(0.7);
}
body .slbanner-wrapper .banner-box1 .sl-left > img:hover {
  transform: scale(1);
  z-index: 3;
}
body .slbanner-wrapper .banner-box1 .sl-left > img:nth-child(1) {
  position: absolute;
  right: 50%;
  top: 20%;
}
body .slbanner-wrapper .banner-box1 .sl-left > img:nth-child(2) {
  position: absolute;
  right: 50%;
  top: 45%;
}
body .slbanner-wrapper .banner-box1 .sl-left > img:nth-child(3) {
  position: absolute;
  right: 50%;
  top: 70%;
}
body .slbanner-wrapper .banner-box2 {
  font-size: 10em;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/bg04.png);
  overflow: hidden;
}
body .slbanner-wrapper .banner-box2 .sl-right > img {
  transition: 0.5s;
  transform: scale(0.7);
}
body .slbanner-wrapper .banner-box2 .sl-right > img:hover {
  transform: scale(1);
}
body .slbanner-wrapper .banner-box2 .sl-right > img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 20%;
}
body .slbanner-wrapper .banner-box2 .sl-right > img:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
}

.landing-wrapper {
  position: absolute;
  left: 0;
  top: 500%;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.landing-wrapper .tri {
  border-top: 100vh solid royalblue;
  border-left: 100vh solid transparent;
}
.landing-wrapper .oriental {
  position: absolute;
  right: 0;
  top: 0;
}
.landing-wrapper .left-landing {
  bottom: 0;
  left: 50%;
  position: absolute;
  display: flex;
}
.landing-wrapper .left-landing > a > img {
  width: 50vw;
}
.landing-wrapper .right-landing {
  top: 0;
  position: absolute;
}
.landing-wrapper .right-landing > a > img {
  width: 50vw;
}

.detailpage-wrapper {
  position: absolute;
  left: 0;
  top: 600%;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
.detailpage-wrapper .opptri {
  border-top: 100vh solid rgb(0, 174, 169);
  border-right: 100vh solid transparent;
  border-left: 50vw solid transparent;
}
.detailpage-wrapper .left-detail {
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
}
.detailpage-wrapper .left-detail > a > img {
  height: 70vh;
  margin: 2vh;
  cursor: pointer;
}
.detailpage-wrapper .left-detail .detailimg-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.detailpage-wrapper .left-detail .detailimg-box > img {
  width: 30vw;
  margin: 2vh;
}
.detailpage-wrapper .right-detail {
  position: absolute;
  bottom: 0;
  right: 0;
}
.detailpage-wrapper .right-detail > a > img {
  width: 35vw;
  margin-bottom: 5vh;
  margin-right: 10vh;
}

.card-news {
  position: absolute;
  left: 0;
  top: 700%;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}
.card-news .cardnews-heading {
  font-family: "Anta", sans-serif;
  font-weight: 700;
  margin: 0;
  color: black;
  font-size: 7em;
  margin: 5vh;
}
.card-news .card-slide1 {
  width: 52vh;
  position: absolute;
  top: 30vh;
  margin-left: 5vh;
  display: flex;
  justify-content: center;
}
.card-news .card-slide1 > div {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 50vh;
  height: 50vh;
}
.card-news .card-slide1 > div .slide-img {
  width: 100%;
  height: 100%;
}
.card-news .card-slide2 {
  width: 52vh;
  position: absolute;
  top: 30vh;
  margin-left: 65vh;
  display: flex;
  justify-content: center;
}
.card-news .card-slide2 > div {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 50vh;
  height: 50vh;
}
.card-news .card-slide2 > div .slide-img {
  width: 100%;
  height: 100%;
}
.card-news .card-slide3 {
  width: 52vh;
  position: absolute;
  top: 30vh;
  margin-left: 125vh;
  display: flex;
  justify-content: center;
}
.card-news .card-slide3 > div {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 50vh;
  height: 50vh;
}
.card-news .card-slide3 > div .slide-img {
  width: 100%;
  height: 100%;
}

.etc-wrapper1 {
  position: absolute;
  left: 0;
  top: 800%;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  padding: 30px;
}
.etc-wrapper1 .etc-heading {
  font-family: "Anta", sans-serif;
  font-weight: 700;
  margin: 0;
  color: black;
  font-size: 7em;
  margin-bottom: 30px;
}
.etc-wrapper1 img {
  width: 50%;
  object-fit: cover;
}
.etc-wrapper1 .design-container1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 80vh;
}
.etc-wrapper1 .design-container1 img {
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.3);
}
.etc-wrapper1 .design-container1 > div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.etc-wrapper1 .design-container1 > div:nth-child(1) > img {
  width: 30vh;
}
.etc-wrapper1 .design-container1 > div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.etc-wrapper1 .design-container1 > div:nth-child(2) > img {
  width: 30vh;
}
.etc-wrapper1 .design-container1 > div:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.etc-wrapper1 .design-container1 > div:nth-child(3) > img {
  width: 30vh;
}
.etc-wrapper1 .design-container1 > div:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.etc-wrapper1 .design-container1 > div:nth-child(4) > img {
  width: 30vh;
}
.etc-wrapper1 .design-container1 > div:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 20vh;
}
.etc-wrapper1 .design-container1 > div:nth-child(5) > img {
  width: 30vh;
  object-fit: cover;
}
.etc-wrapper1 .design-container1 > div:nth-child(5) > img:nth-child(2) {
  background-color: black;
  width: 30vh;
  object-fit: contain;
}
.etc-wrapper1 .design-container1 > div:nth-child(6) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(12, 53, 82);
  height: 23vh;
}
.etc-wrapper1 .design-container1 > div:nth-child(6) > img {
  width: inherit;
  object-fit: cover;
}
.etc-wrapper1 .design-container1 > div:nth-child(6) > img:nth-child(2) {
  width: inherit;
  object-fit: cover;
}

.etc-wrapper2 {
  position: absolute;
  left: 0;
  top: 900%;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  padding: 30px;
}
.etc-wrapper2 > p {
  font-family: "Anta", sans-serif;
  font-weight: 700;
  margin: 0;
  color: black;
  font-size: 5em;
}
.etc-wrapper2 .design-container2 {
  display: flex;
}
.etc-wrapper2 .design-container2 img {
  height: 50vh;
}
.etc-wrapper2 .design-container2 .card {
  background-color: #fff;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.3);
  height: 50vh;
  margin-top: 20vh;
  margin-right: 2vh;
}

.etc-wrapper3 {
  position: absolute;
  left: 0;
  top: 1000%;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  padding: 30px;
}
.etc-wrapper3 > p {
  font-family: "Anta", sans-serif;
  font-weight: 700;
  margin: 0;
  color: black;
  font-size: 5em;
}
.etc-wrapper3 .design-container3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 20vh;
}
.etc-wrapper3 .design-container3 .card > img {
  width: 30vh;
  height: 30vh;
}/*# sourceMappingURL=style.css.map */