* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(196, 216, 196);
    .testbox {
        display: flex;
        flex-direction: column;
        h1 {
            padding: 30px;
        }
        .box1 {
            padding: 10px;
            width: 300px;
            background-color: palevioletred;
        }
        .box2 {
            padding: 10px;
        }
    }
}
