//Variables
$basic-font: 14px;
$basic-color: #fff;
$basic-blue: #219ebc;
$light-blue: #8ecae6;
$bg-color: #023047;
$point-color: #fb8500;
$sub-point: #ffb703;

//Mixins
@mixin default {
}

@mixin menufont {
    font-size: 22px;
    font-family: "Noto Sans KR", sans-serif;
    color: black;
}

@mixin defaultfont($size) {
    font-size: $size;
    font-family: "Noto Sans KR", sans-serif;
    color: black;
    @content;
}

@mixin fontstyle {
    list-style: none;
    text-decoration: none;
}

/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include fontstyle();
    color: $basic-color;
}

body {
    background-color: $bg-color;
    .popup-window {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        .popup-con {
            width: 300px;
            height: 500px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 9;
            h1,
            button {
                color: black;
            }
            .popup-con img {
                width: 300px;
                height: 300px;
            }
            .popup-close {
                margin-top: 1em;
                width: 100px;
                height: 40px;
                text-align: center;
                cursor: pointer;
                border-radius: 7px;
                border: none;
            }
        }
    }
    .main-nav {
        // border: 3px solid salmon;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .logo-box img {
            width: 300px;
        }
        .main-menu {
            display: flex;
            @include menufont();
            padding-right: 10vw;
            position: relative;
            & > li {
                padding: 10px;
                margin: 0 30px;
            }
            & > li:hover .sub-menu {
                display: block;
                z-index: 9;
            }
            .sub-menu {
                display: none;
                position: absolute;
                top: 100%;
                & > li a {
                    display: inline-block;
                    background-color: $basic-blue;
                    padding: 1em;
                    width: 200px;
                    &:hover {
                        background-color: $light-blue;
                    }
                }
            }
        }
        .ticket-box {
            & > a {
                @include menufont();
                margin-right: 2vw;
                margin-bottom: 1vw;
                background-color: $point-color;
                display: inline-block;
                text-align: center;
                line-height: 100px;
                width: 200px;
                height: 100px;
            }
        }
    }
    .contents-wrapper {
        // border: 5px solid royalblue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-image: url(../images/scubabg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
        .today-box {
            background-color: $basic-blue;
            width: 250px;
            height: 200px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            align-items: center;
            margin: 2em;
            & > span {
                background-color: #c4c7c9;
                font-size: 20px;
                padding: 0.5em;
                border-radius: 30px;
                margin-top: 10px;
                width: 150px;
                text-align: center;
                text-shadow: 3px 3px 4px grey;
                & > i {
                    padding: 10px;
                }
            }
            & a {
                display: inline-block;
                @include menufont();
                padding-bottom: 1em;
            }
            & li {
                transition: 0.35s;
            }
            & > li > i {
                padding: 0 10px;
                font-size: 1.5em;
            }
            & li:hover {
                transform: scale(1.2, 1.2);
            }
        }
        .con-wrapper {
            // border: 3px solid red;
            .slider {
                margin: auto;
                margin-top: 10vh;
            }
            .main-conbox {
                // width: 900px;
                // height: 500px;
                border-radius: 10px;
                display: flex;
                // border: 3px solid salmon;
                margin: auto;
                margin-top: 20vh;
                .left-con {
                    background-color: #83878a;
                    display: flex;
                    flex-direction: column;
                    .opening-hours {
                        background-color: $light-blue;
                        margin: 10px;
                        border-radius: 10px;
                        text-align: center;
                        padding: 1em;
                        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.3);
                        & > p {
                            color: $bg-color;
                            font-weight: 600;
                            @include menufont();
                        }
                    }
                    .infos {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr;
                        text-align: center;
                        padding: 10px;
                        margin-top: 20%;
                        & > span {
                            border: 3px solid $bg-color;
                            padding: 10px;
                            font-size: 20px;
                            cursor: pointer;
                        }
                    }
                }
                .right-con {
                    background-color: $light-blue;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .top-box {
                        border: 3px solid transparent;
                        display: flex;
                        & > dl {
                            & dt > img {
                                width: 300px;
                                height: 300px;
                                border-radius: 100%;
                                padding: 10px;
                            }
                            & > dt {
                                background-color: $basic-blue;
                                border: 2px solid $bg-color;
                            }
                            & > dd {
                                text-align: center;
                                @include menufont();
                                padding: 10px;
                                cursor: pointer;
                                border: 2px solid $bg-color;
                                color: $bg-color;
                            }
                        }
                    }
                    .bottom-box {
                        border: 3px solid transparent;
                        display: flex;
                        & > dl {
                            & dt > img {
                                width: 300px;
                                height: 300px;
                                border-radius: 100%;
                                padding: 10px;
                            }
                            & > dt {
                                background-color: $basic-blue;
                                border: 2px solid $bg-color;
                            }
                            & > dd {
                                text-align: center;
                                @include menufont();
                                padding: 10px;
                                cursor: pointer;
                                border: 2px solid $bg-color;
                                color: $bg-color;
                            }
                        }
                    }
                }
            }
        }
        .notice-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            margin-top: 20vh;
            margin-bottom: 20vh;
            width: 90%;
            height: 300px;
            & > div {
                border-radius: 13px;
                background-color: $basic-color;
                margin: 5px;
                & > p {
                    @include defaultfont(18px) {
                        color: rgb(70, 70, 70);
                        padding: 10px;
                        cursor: pointer;
                    }
                }
                & > p:nth-of-type(1) {
                    font-size: 20px;
                    font-weight: 700;
                }
                span {
                    @include defaultfont(15px) {
                        color: rgb(70, 70, 70);
                    }
                    margin-left: 160px;
                }
                &:nth-child(1) {
                    padding: 15px;
                }
                &:nth-child(2) {
                    padding: 15px;
                }
                &:nth-child(3) {
                    padding: 15px;
                }
                &:nth-child(4) {
                    padding: 15px;
                }
            }
            :nth-child(1) {
                grid-row: 1 / 3;
            }
            :nth-child(2) {
                grid-row: 1 / 3;
            }
            :nth-child(3) {
                grid-row: 1 / 2;
            }
            :nth-child(4) {
                grid-row: 2 / 3;
            }
        }
    }
}

footer {
    width: 100vw;
    margin-top: 10vh;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    .footer-txt {
        padding: 1em;
    }
    .footer-sns {
        font-size: 30px;
        padding-top: 2em;
        padding-right: 2em;
        & > i {
            padding: 0 5px;
        }
        & :nth-child(1) {
            color: rgb(127, 14, 36);
        }
        & :nth-child(2) {
            color: rgb(40, 55, 99);
        }
        & :nth-child(3) {
            color: rgb(167, 123, 138);
        }
    }
}

// /*Tablet Breakpoint*/
// @media (min-width: 768px) and (max-width: 1366px) {
//     body {
//         height: auto;
//         padding: 0;
//         margin: 0;
//         .main-nav {
//             border: 3px solid salmon;
//             display: grid;
//             grid-template-areas:
//                 "logo logo"
//                 "main-menu ticket";
//             .logo-box {
//                 grid-area: logo;
//             }
//             .main-menu {
//                 grid-area: main-menu;
//                 padding: 0;
//             }
//             .ticket-box {
//                 grid-area: ticket;
//             }
//         }
//         .contents-wrapper {
//             display: flex;
//             border: 5px solid red;
//             .today-box {
//                 border: 5px solid black;
//             }
//             .slider {
//             }
//             .main-conbox {
//             }
//             .notice-box {
//             }
//         }
//     }
// }

// @media (hover: hover) {
//     .main-menu > li:hover .sub-menu {
//         display: block;
//     }
// }

// /*Mobile Breakpoint*/
// @media (max-width: 768px) {
//     body {
//         height: auto;
//         .main-nav {
//             border: 3px solid white;
//         }
//     }
// }
