* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 전체에 box-sizing border-box 적용하는게 좋다 */
}

body {
    position: relative;
}

.wrapper {
    position: relative;
}

.nav-bar {
    background-color: #061d1f;
    border: 1px solid salmon;
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    border: 1px dotted seagreen;
    background-color: #4c6f72;
    display: flex;
    justify-content: flex-end;
}

.nav-items {
    border: 1px solid darkmagenta;
    list-style: none;
    width: 130px;
    height: 70px;
    padding-top: 30px;
    padding-left: 50px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    /* position: relative; */
}

.sub-menubox {
    display: none;
    /* position: absolute; */
}

.nav-items:hover .sub-menubox {
    display: block;
}

.sub-menu:hover {
    background-color: #96bbbe;
}

.sub-menu {
    list-style: none;
    position: relative;
    /* position relative 주기 */
    width: 100px;
    height: 50px;
    background-color: #4c6f72;
    border: 1px solid sandybrown;
    box-sizing: border-box;
    text-align: center;
    /* padding-top: 15px;
    패딩 top은 주지 않고 대신 flex 쓰기*/
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.right-nav {
    padding-top: 35px;
    /* margin: 0 50px; 
    margin 빼기 */
}

.search-box {
    width: 130px;
    border: none;
    border-bottom: 2px solid #96bbbe;
    background: transparent;
    cursor: pointer;
    /* margin: 0 10px;
    margin 빼기 */
}

.searchbtn {
    /* margin: 0 10px;
    margin 빼기 */
}

.log-in,
.sign-up {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #4c6f72;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.body-container {
}

.carousel-container {
    margin: 5%;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
}

.slide-contents {
    position: absolute;
}

.slide-title {
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    margin-top: 320px;
    margin-left: 30px;
}

.slide-des {
    width: 600px;
    font-size: 16px;
    margin-left: 20px;
}

.slider img {
    width: 650px;
    position: absolute;
}

.news-box {
    display: flex;
    background-color: aqua;
    border: 1px solid salmon;
    position: absolute;
}

.news {
}

.join-club {
}

.subscribe {
}
